body
{
  font-family:"Arsenal";
}

.frontCircle{
	position: relative;
	margin:50px 50px 50px 50px;
	left: 30px;
	width: 400px;
	height: 150px;
	background-color: #000;
	color: #fff;
	font-size: 36px;
	display: absolute;
	text-align: center;

	/* width and height can be anything, as long as they're equal */
}

.frontPhoto{
    margin: auto;
    display: inline-block;
}
