body
{
  background-image: url("https://github.com/comitkitty/personalwebsite2/blob/master/IMG_0552.JPG?raw=true");
	
  background-repeat: no-repeat;
  background-size: cover;
  font-family:"Arsenal";
}

.frontCircle{
	position: relative;
	left: 30px;
    	border: 3px solid;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background-color: #000;
	color: #fff;
	font-size: 18px;
	display:inline-block;
	text-align: center;

	/* width and height can be anything, as long as they're equal */
}

