body
{
  font-family:"Arsenal";
}

.frontCircle{
	position: absolute;
	left: 20px;
	top: 20px;
	width: 400px;
	height: 150px;
	background-color: #000;
	color: #fff;
	font-size: 36px;
	display: absolute;
	text-align: center;

	/* width and height can be anything, as long as they're equal */
}

.frontPhoto{
    position: absolute;
    right: 20px;
    top: 20px;
}
